.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.instructions {
  text-align: center;
  font-size: 1.2em;
}

button {
  background-color: #e6007a;
  border-radius: 9999px;
  color: rgb(255 255 255 / 1);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

dialog {
  border-radius: 8px;
  background-color: #1c0533;
  color: #fff;
  padding: 1rem;
}

.sample-transaction {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
}

.balance-label {
  font-size: 20px; /* Change the font size to your preference */
  font-weight: bold; /* Makes the text bold */
}

.chain-label {
  font-size: 18px; /* Change the font size to your preference */
  font-style: italic; /* Makes the text italic */
}
